docs/*
Manifest.toml
notebooks/slides.ipynb
slides.jl
*.swp
notebooks/.ipynb_checkpoints/01.Introduction-checkpoint.ipynb
notebooks/.ipynb_checkpoints/02.RotationGPU-checkpoint.ipynb
notebooks/.ipynb_checkpoints/03.TimeSeries-checkpoint.ipynb
